.logo-container {
  width: 75px;
  height: 75px;
  background: #fff;
  position:absolute;
  z-index: 999;
  top: 10px;
  left: 10px;
  border-radius: 10px;
}

.logo-container img {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 5% 5%;
}